
.App {
    min-width: 100vw;
    min-height: 100vh;
    background-color: hsl(217, 19%, 24%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    text-align: center;
}

.advice-div {
   background-color:  hsl(217, 19%, 38%);
   font-family: "Manrope", sans-serif;
   font-weight: 800;
   color: white;
   padding: 30px;
   border-radius: 12px;
   width: 70%;
   max-width: 550px;
   padding-bottom: 50px;
}

.advice-div  small {
    color: hsl(150, 100%, 66%);
    font-size: 22px;
}

.App button {
    background-color: rgb(31, 196, 31);
    border-radius: 50%;
    min-height: 20px;
    padding: 20px;
    min-width: 20px;
    margin-top: -15px;
}

.App button:hover {
    background-color: rgb(46, 228, 46);
    scale: 1.1;
}
